manifest {
  author = 'Dan Fornika, Katherine Eaton (ktmeaton/ncov-recombinant)'
  name = 'BCCDC-PHL/ncov2019-recombinant-screen'
  version = '0.1.0'
  description = 'Screen SARS-CoV-2 genomes for potential recombinants'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  artic_analysis_dir = 'NO_FILE'
  artic_consensus_subdir = 'ncovIllumina_sequenceAnalysis_callConsensusFreebayes'
  minimum_genome_completeness = 85.0
  breakpoints = 'NO_FILE'
  nextclade_dataset = 'sars-cov-2'
  nextclade_tag = '2022-04-28T12:00:00Z'

}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {
  withName: nextclade { 
    cpus = 8 
  }
}