manifest {
  author = 'Dan Fornika, Katherine Eaton (ktmeaton/ncov-recombinant)'
  name = 'BCCDC-PHL/ncov2019-recombinant-screen'
  version = '0.1.0'
  description = 'Screen SARS-CoV-2 genomes for potential recombinants'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  run_dir = 'NO_FILE'
  artic_version = 'v1.3'
  artic_analysis_subdir = "ncov2019-artic-nf-" + artic_version + "-output"
  artic_consensus_subdir = "ncovIllumina_sequenceAnalysis_callConsensusFreebayes"
  minimum_genome_completeness = 85.0
  nextclade_dataset = 'sars-cov-2'
  nextclade_tag = '2022-04-28T12:00:00Z'
  nextclade_exclude_clades = [
    "19",  // From 2019
    "20A", //Non-VoC From 2020
    "20B",
    "20C",
    "20D",
    "20E",
    "20F",
    "20G",
  ].join("|")
  nextclade_ref = "MN908947 \\(Wuhan-Hu-1/2019\\)"
  nextclade_custom_ref = "Wuhan/Hu-1/2019"
  sc2rf_max_name_length = 50
  sc2rf_clades = [
    "21I", // Delta
    "21J", // Delta
    "21K", // Omicron
    "21L", // Omicron
  ].join(" ")
  sc2rf_mutation_threshold = 0.25
  sc2rf_min_len = 1000
  sc2rf_max_parents = 2
  sc2rf_max_breakpoints = 2
  sc2rf_motifs = ""
  usher_max_placements = -1
  ref = 'NO_FILE'
  primer_bed = 'NO_FILE'
  problematic_sites = 'NO_FILE'
  breakpoints = 'NO_FILE'
  usher_pb_url = "http://hgdownload.soe.ucsc.edu/goldenPath/wuhCor1/UShER_SARS-CoV-2/public-latest.all.masked.pb.gz"
  usher_metadata_url = "http://hgdownload.soe.ucsc.edu/goldenPath/wuhCor1/UShER_SARS-CoV-2/public-latest.metadata.tsv.gz"
  usher_version_url = "http://hgdownload.soe.ucsc.edu/goldenPath/wuhCor1/UShER_SARS-CoV-2/public-latest.version.txt"
  usher_subtree_k = 500
  metadata = 'NO_FILE'
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {
  withName: nextclade { 
    cpus = 8 
  }

  withName: sc2rf {
    conda = "$baseDir/environments/sc2rf.yml"
  }

  withName: sc2rf_recombinants {
    conda = "$baseDir/environments/sc2rf.yml"
  }

  withName: usher { 
    cpus = 16
  }

  withName: usher_subtree { 
    cpus = 8
  }
}