manifest {
  author = 'Dan Fornika, Katherine Eaton (ktmeaton/ncov-recombinant)'
  name = 'BCCDC-PHL/ncov2019-recombinant-screen'
  version = '0.1.0'
  description = 'Screen SARS-CoV-2 genomes for potential recombinants'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  artic_analysis_dir = 'NO_FILE'
  artic_consensus_subdir = 'ncovIllumina_sequenceAnalysis_callConsensusFreebayes'
  minimum_genome_completeness = 85.0
  breakpoints = 'NO_FILE'
  nextclade_dataset = 'sars-cov-2'
  nextclade_tag = '2022-04-28T12:00:00Z'
  nextclade_exclude_clades = [
    "19",  // From 2019
    "20A", //Non-VoC From 2020
    "20B",
    "20C",
    "20D",
    "20E",
    "20F",
    "20G",
  ].join("|")
  nextclade_ref = "MN908947 \\(Wuhan-Hu-1/2019\\)"
  nextclade_custom_ref = "Wuhan/Hu-1/2019"
  sc2rf_max_name_length = 50
  sc2rf_clades = [
    "21I", // Delta
    "21J", // Delta
    "21K", // Omicron
    "21L", // Omicron
  ].join(" ")
  sc2rf_mutation_threshold = 0.25
  primer_bed = 'NO_FILE'
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {
  withName: nextclade { 
    cpus = 8 
  }

  withName: sc2rf {
    conda = "$baseDir/environments/sc2rf.yml"
  }
}